<template>
	<div class="wlh-link__item">
		<h4 class="wlh-link__item__title">
			<a :href="url" class="wlh-link__item__url">
				{{ prefixedTitle }}
			</a>
		</h4>

		<chip-item :text="namespace" />

		<p v-if="size" class="wlh-link__item__metadata">
			{{ size }} (bytes)
		</p>

		<p v-if="lastUpdated" class="wlh-link__item__metadata">
			Last Edited: {{ formatDate() }}
		</p>
	</div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';
import ChipItem from './ChipItem.vue';

export default defineComponent( {
	name: 'LinkItem',
	components: {
		'chip-item': ChipItem
	},
	props: {
		title: {
			type: String,
			default: ''
		},
		namespace: {
			type: String,
			default: ''
		},
		size: {
			type: Number,
			default: 0
		},
		lastUpdated: {
			type: Number,
			default: -1
		}
	},
	setup( props ) {
		function formatDate() {
			const dateAsString = String( props.lastUpdated );
			const year = Number( dateAsString.slice( 0, 4 ) );
			const month = Number( dateAsString.slice( 4, 6 ) );
			const day = Number( dateAsString.slice( 6, 8 ) );
			const hours = Number( dateAsString.slice( 8, 10 ) );
			const minutes = Number( dateAsString.slice( 10, 12 ) );
			const seconds = Number( dateAsString.slice( 12, 14 ) );

			const formattedDate = new Date( year, month - 1, day, hours, minutes, seconds );
			return formattedDate.toDateString();
		}

		const prefixedTitle = computed( () => {
			if ( props.namespace === 'Main' ) {
				return props.title;
			} else {
				return `${props.namespace}:${props.title}`;
			}
		} );

		const url = computed( () => {
			return `https://en.wikipedia.org/wiki/${prefixedTitle.value}`;
		} );

		return {
			formatDate,
			prefixedTitle,
			url
		};
	}
} );
</script>

<style lang="less">
.wlh-link {
	&__item {
		border-bottom: 1px solid #eaecf0;
        &__title {
			display: inline-flex;
		}
        &__url {
			text-decoration: none;
			color: #0645ad;
			background: none;
			margin-right: 10px;
		}
        &__metadata {
			color: #72777d;
		}
    }
}
</style>
